@(message: String)
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Play REST API</title>
    @message
    </head>
  <body>
    @helper.form(action = routes.AccountController.createAccount()){
      <label for="username">Username:</label>
      <input name="username">
      <br>
      <label for="password">Password:</label>
      <input name="password">
      <br>
      <label for="confirmPassword">Confirm Password:</label>
      <input name="confirmPassword">
      <br>
      <button type="submit">Create</button>
    }

    <a href="@routes.AccountController.logIn()">Log-in</a>
    <a href="@routes.AccountController.passwordReset1()">Forgot Password?</a>

  </body>
</html>
