<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Play REST API</title>

    </head>

    <body>

        @if(flash.contains("success")) {
            <p style="color: #008000">@flash.get("success")</p>
        }
        @if(flash.contains("error")) {
            <p style="color: #FF0000">@flash.get("error")</p>
        }

        @helper.form(action = routes.AccountController.authenticate()) {
            <label for="username">Username:</label>
            <input name="username">
            <br>
            <label for="password">Password:</label>
            <input name="password">
            <br>
            <button type="submit">Log In</button>
        }

    </body>
</html>
